<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<br>
<br>
<br>
<a href="http://localhost:8080/">
    <button type="button" class="btn btn-outline-primary">INICIO</button>
</a>



<form class="formulario" method="post" action="/addMovie">
    <div>
        <label class="col-form-label col-form-label-lg mt-4" for="movie_name">
            Movie name:
        </label>
        <input class="form-control form-control-lg" type="text" name="movie_name" id="movie_name">
    </div>
    <div>
        <label class="col-form-label col-form-label-lg mt-4" for="movie_url">
            Movie URL:
        </label>
        <input class="form-control form-control-lg" type="text" name="movie_url" id="movie_url">
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Añadir pelicula">
</form>

<div class="padre" style="scale: 0.5; height: 0;">

    <div class="contenedor" th:each="url , iter: ${url}">
        <div class="imgCont">
            <img th:src="${url}" href="no cargó la img xd">
        </div>
        <p class="texto" th:text="${nombre[iter.index]}"></p>
        <p class="texto" th:text="${id[iter.index]}"></p>
    </div>

</div>


</body>
</html>