<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "css/styles.css" rel = "stylesheet"/>
    <title>API Rest con vistas XILFTEN Movies</title>
</head>
<body>
<br>
<br>
<br>
<a href="http://localhost:8080/">
    <button type="button" class="btn btn-outline-primary">INICIO</button>
</a>
<br>
<br>
    <strong><p style="font-size: 50px" th:if="${message != null}" th:text="${message}"></p></strong>

</body>
</html>