<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <br>
    <br>
    <br>
    <a href="http://localhost:8080/">
        <button type="button" class="btn btn-outline-primary">INICIO</button>
    </a>
    <br>
    <br>
    <h1>REPOSITORIO DE PELÍCULAS</h1>
    <br>
    <br>
    <div class="padre">

        <div class="contenedor" th:each="url , iter: ${url}">
            <div class="imgCont">
                <img th:src="${url}" href="no cargó la img xd">
            </div>
            <p class="texto" th:text="${nombre[iter.index]}"></p>
        </div>

    </div>


</body>
</html>

